<div id="<%= dom_id cart %>" class="mt-4">
  <h2 class="font-bold text-2xl mb-4 pb-2">Your Cart</h2>
  
  <table class="table-auto">
    <% cart.line_items.each do |line_item| %>
      <tr>
        <td>
          <%= button_to 'remove', 
            line_item, 
            method: :delete,
            class:'rounded-lg py-2 px-2 mr-2 text-white bg-red-500' %>
        </td>
        <td class="text-right">
          <span class="font-bold"><%= line_item.quantity %></span>
        </td> 
        <td>&times;</td>
        <td class="pr-2 product-title">
          <div class="py-4"><%= line_item.product.title %></div>
     
        </td>
        <td class="text-right font-bold">
          = <%= number_to_currency(line_item.total_price) %>
        </td> 
      </tr>
    <% end %>
    <tfoot> 
      <tr>
        <th class="text-right pr-2 pt-2" colspan="4">Total:</th>
        <td class="text-right pt-2 font-bold border-t-2 border-black">
          <%= number_to_currency(cart.total_price) %> </td>
        </tr>
    </tfoot>
  </table>

  <div class="mt-4">
    <%= button_to 'Empty Cart', 
                  cart, 
                  method: :delete,
                  class:'rounded-lg py-2 px-2 text-white bg-green-600' %>
  </div> 

  <% if action_name != "show" %>
    <div class="pt-3">
      <%= link_to "Show this cart", cart, class: "rounded-lg py-2 px-2 bg-gray-200 inline-block font-medium" %>
      <%= link_to "Edit this cart", edit_cart_path(cart), class: "rounded-lg py-2 ml-2 px-5 bg-gray-200 inline-block font-medium" %>
      <hr class="mt-6">
    </div>
  <% end %>
</div>
