<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-2xl mb-4 pb-2">Your Shopping Basket</h2>
  
  <ul class="list-none list-inside m-0 p-0 mb-2">
    <% cart.line_items.each do |item| %> 
      <li class="p-2">
        <%= item.quantity %> &times;
        <%= item.product.title %>
      </li>
    <% end %> 
  </ul>

  <% if action_name != "show" %>
    <div class="pt-3">
      <%= link_to "Show this cart", cart, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this cart", edit_cart_path(cart), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    </div>
  <% end %>
</div>
