<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %> 
    </p>
  <% end %>

  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto font-bold text-4xl">Products</h1>
  </div>

  <div id="products" class="min-w-full">
    <%= render @products %>
  </div>

  <table id="products" class="mx-auto"> 
    <tbody>
      <% @products.each do |product| %>
        <tr class="<%= cycle('bg-green-50', 'bg-white') %>">
          <td class="px-2 py-3">
            image_<%= product.id %>
          </td>
          <td>
            <h2 class="text-xl font-bold mb-3 p-4">
              <%= product.title %>
            </h2>
            <p>
              <%= truncate(strip_tags(product.description), length: 100) %>
            </p>
          </td>
          <td class="px-3"> 
            <ul>
              <li>
                <%= link_to 'Show', product, class: 'hover:underline' %>
              </li>
              <li>
                <%= link_to 'Edit', edit_product_path(product), class: 'hover:underline' %>
              </li>
              <li>
                <%= link_to 'Destroy', 
                            product, 
                            class: 'hover:underline',
                            data: {turbo_method: :delete,
                                  turbo_confirm: "Are you sure?"}
                 %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">
          The best products
        </td>
      </tr>
    </tfoot>
</table>

<div class="mt-8 py-3 px-5 text-center mx-auto">
  <%= link_to "New product",
              new_product_path,
              class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium " %>
</div> 
</div>
