<!DOCTYPE html>
<html>
  <head>
    <title>Depot Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-50 h-full">

    <header class="bg-pink-400">
      <h1 class="text-white text-2xl p-3 pb-6">The Pragmatic Bookshelf</h1>
      <h1><%= @page_title %></h1> 
    </header>
    
    <section class="flex h-full">
      <aside class="w-[300px]">
        <nav class="bg-pink-400 p-6">
          <ul class="text-white leading-8">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/">Questions</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </nav>

        <%= render partial: 'layouts/cart', locals: { cart: @cart } %>
      </aside>
    
      <main class="container mx-auto mt-8 px-5 flex mb-4">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
